*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
diffusers/docs/source/en/imgs/access_request.png filter=lfs diff=lfs merge=lfs -text
diffusers/examples/research_projects/gligen/generated-images-100000-00.png filter=lfs diff=lfs merge=lfs -text
outputs/simple_minimal_logo1.png filter=lfs diff=lfs merge=lfs -text
outputs/simple_minimal_logo2.png filter=lfs diff=lfs merge=lfs -text
outputs/simple_minimal_logo4.png filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-digital-illustration-of-a-fierce-styli_KE0UR1XeS5GBiY6o3K1ZLg_AUO7yW31SviBl_yh8zdA4Q.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-dynamic-esports-logo-design-featuring-_lpNbUMf7SG6D_sX2abUl5w_KfoHGnqkSImJVoxybxLnIw.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-graphic-design-of-a-vintage-logo-featu_gKZ5LyL5TUiQuvnLl0uxSw_JFPaPLgoQV6nzTA2oKji0A.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-logo-design-depicting-a-majestic-fire-_KL3eROYtRPyL4n9wVgUvyQ_Xe5gqwOLTDSKCSC-vCoK0A.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-logo-design-featuring-the-arabic-text-_BLfQ8c8yTuC_Yd3a607JUg_bXPyoTViQxaHAwzhMzXg-A.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-logo-design-featuring-the-text-rindane_0IgFQNFQSJe0_o5B371Owg_F5sJ4LoHTQGjUzcHY89sng.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-logo-design-featuring-the-text-rindane_SQgb8Vi-SWC_udndl9RtQg_nmyXqjdyQImUsNDWd3ddaQ.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-logo-design-featuring-the-text-sarvas-_7jChlrfRRHyNIRHkD0uqeg_N0BXWfUgQSmoBMJEVVFS1g.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-logo-design-in-a-rustic-chic-style-fea_p5Kyb91gQUOXAjhgrUci4w_b31MG0UsQYKMpd2Snw_9Yw.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-logo-design-in-a-traditional-indian-st_c80EYliVRPqpGVjVaqktnA_AIKclPt2QZupsye5_QO3wA.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-luxurious-logo-illustration-featuring-_q2VSv2g6S0y1tpyFXt6C2A_b2f73W85QQ6JLXvq5ydMwg.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-modern-logo-design-featuring-a-stylize_opCFjq1CRIaBFtHLHx8TQg_VzsU-6M8RbqcKmcFORQwjw.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-modern-logo-design-featuring-the-chann_YkUHy57hSp2r0TaCPAd6Mw_RbiJMCQHRre43EHKlakwEA.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-sophisticated-logo-design-featuring-th_r9cswMQNSDqcMKj3ue2xpQ_F4ILsyZyTp-vu0yHIlaj5A.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-vector-illustration-of-a-fierce-wolf-m_UO7KFPpcRtGjsPcAavoaDA_VzzWL6LJT768G805GWQUig.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-vibrant-logo-illustration-featuring-a-_Q8CIYItlTKGK4HhZZ-9eaA_H60VAtKLRhC1yHYPeUkUBQ.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-vintage-illustration-of-a-circular-log_cVHtOoZnTW2xt5iEE7WHow_JFPaPLgoQV6nzTA2oKji0A.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-vintage-style-logo-featuring-the-golde_lDJDuhvLQRmcu1LDy91jnw_JFPaPLgoQV6nzTA2oKji0A.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/a-vintage-style-logo-illustration-for-bl_kCAs8TT_T-CjkJeMWSFpEA_aA_4HiBMSHaBo3JeF1GMcA.jpeg filter=lfs diff=lfs merge=lfs -text
retro_vintage_dataset/that-s-a-striking-phoenix-emblem-you-ve-_0jaSEt9ZRIS3ccRgICs5Qg_Td0eyU5LTvqGLPSSJdKEKQ.jpeg filter=lfs diff=lfs merge=lfs -text
